[user]
	email = 11359669+cf12@users.noreply.github.com
	name = cf12
	signingkey = brian@cf12.org
[pull]
	rebase = false
[init]
	defaultBranch = main
[auto]
	crlf = true
[commit]
	gpgsign = true
[alias]
    l = log --oneline

    a = add
    ap = add -p
    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -am
    m = commit --amend --verbose

	undo = reset --soft HEAD~
    
    d = diff
    ds = diff --stat
    dc = diff --cached

    s = status -s
    co = checkout
    cob = checkout -b
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

    la = "!git config -l | grep alias | cut -c 7-"